
.Header{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #347ab4;
    color: #ffffff;
    display: flex;
}

.Header .Elements{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 100%;
    width: auto;
}

.HeadElement{
    margin-left: 15px;
    margin-right: 15px;

}

.HeadElement:hover{
    background-color: #ccc;
    cursor: pointer;
}